<html>
<head>
    <title>Spring with Velocity</title>
</head>
<body>
<div>
    #parse("/velocity/views/header.vm")
</div>


<div>

    <!-- View index.vm is inserted here -->
    $screen_content

</div>

<div>
    #parse("/velocity/views/footer.vm")
</div>
</body>
</html>
